@using System.Security.Claims
@using HelpDeskAI.Models.Chat
@{
    ViewData["Title"] = "Chat";
    var logged_in_email = User.FindFirstValue(ClaimTypes.Email);
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="chat-body">
   
    <div id="chat-container">
        <div id="chat-messages">
        </div>
        <div id="input-container">
            <input type="text" id="message-input" placeholder="Type your message...">
            <input type="hidden" id="user" value="@User.FindFirstValue(ClaimTypes.Name)"/>
            <button id="send-button">Send</button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="~/js/chat.js"></script>

</div>
