@using System.Security.Claims
@{
    ViewData["Title"] = "Chat";
    var logged_in_email = User.FindFirstValue(ClaimTypes.Email);
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div></div>
