@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
   <a asp-controller="auth" asp-action="Register">Register</a> <br />
   <a asp-controller="auth" asp-action="Login">Login</a>
</div>
