<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelpDeskAI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelpDeskAI.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/8fad92caf1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
     
       <div class="container">
    <div class="sidebar">
        <pre> 
        <a href="/" class="active" >HelpDeskAI</a>
        <a href="">Settings</a>
        <a href="">Chat</a>
        <a href="">Support queue</a>
        <a asp-controller="auth" asp-action="login">Log in</a>
        <a asp-controller="auth" asp-action="register">Sign up</a>
        </pre>
     
    </div>
  
  </div>
    </header>
    <div
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <hr>
    <footer>
    <p>&copy; 2024 Your Company | <a href="/privacy-policy">Privacy Policy</a></p>
  </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
