<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelpDeskAI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelpDeskAI.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/8fad92caf1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
     
        <div class="sidebar">
            <ul style="list-style-type:none">
              <li><a class="active" href="/">HelpDeskAI</a></li>
              <li> <a href="">Settings</a></li>
              <li><a href="">Chat</a></li>
              <li><a href="">Support queue</a></li>
              <li> <a asp-controller="auth" asp-action="login" style="text-decoration: none; margin-top:80;">Log in</a><br></li>
              <li><a asp-controller="auth" asp-action="register"style="text-decoration: none; margin-bottom:0;">Sign up</a></li>
            </ul>
 
</div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HelpDeskAI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
