

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  margin: 0 auto;
  left: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #352a5f;
  color: white;
}

footer {
  margin-top: auto;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

footer a{
  text-decoration: none;
}
hr{
  color: rgba(255, 255, 255, 0.5)
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}