@model User;
@{
    ViewData["Title"] = "Register";
}

<div class="reg">
    
    <div class="reger">
            <h2 class="form-title">Let's get started with your account</h2>
        <form method="post" asp-controller="auth" asp-action="Register">
            <div class="text-danger" asp-validation-summary="All"></div>
                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="FirstName" class="form-label">First Name</label>
                        <input type="text" asp-for="FirstName" class="form-control" placeholder="John">
                    </div>
                    <div class="col">
                        <label asp-for="LastName" class="form-label">Last Name</label>
                        <input type="text" asp-for="LastName" class="form-control" placeholder="Doe">
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Username" class="form-label">Username</label>
                    <input type="text" asp-for="Username" class="form-control" placeholder="johndoe">
                </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input type="email" asp-for="Email" class="form-control" placeholder="johndoe@example.com">
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="●●●●●●●●●●●">
            </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="●●●●●●●●●●●">
                </div>
                <p class="p-0">By signing up, you agree to our Terms of Service and Privacy Policy</p>
                <button type="submit" class="btn-primary">Sign up</button>
        </form>
        <div class="form-footer">
             <a asp-controller="auth" asp-action="login" >Already have an account? Log in</a>
        </div>
    </div>
    <div class="ani">
        
        <img src="public/img.jpg" alt="iski ma ki chut">
        </div>
   
    </div>

