@{
    ViewData["Title"] = "Request Email";
}
@model User

<div class="container">
    <div class="form-container">

        <h2 class="form-title">Send Email Verification</h2>
        <form method="post" asp-controller="auth" asp-action="SendVerificationEmail">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input type="email" asp-for="Email" class="form-control" placeholder="johndoe@example.com">
            </div>
            <div class="mb-3">
                <p class="p-0">By proceeding, you agree to our Terms of Service and Privacy Policy</p>
                <button type="submit" class="btn btn-primary">Send Link</button>
        </form>
        <div class="form-footer">
            <a asp-controller="auth" asp-action="login">Made a mistake? Go Back</a>
        </div>
    </div>
        </div>
