<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<authentication mode="Forms">
		<forms loginUrl="/auth/login"/>
	</authentication>
	
	<dependentAssembly>
		<assemblyIdentity name="System.Security.Permissions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
		<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0"/>
	</dependentAssembly>
</configuration>